*
{
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body
{
    background-color: skyblue;
    font-size: 1.5em;
}

h1
{
    text-decoration: underline;
    font-size: 2em;
    margin: 20px;
}

h2
{
    margin: 20px;
}

h3
{
    margin: 20px;
}

ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.lablist
{
    margin-left: 40px;
}

p
{
    margin: 40px;
}